@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  background-color: #ffffff !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  color: rgb(66, 66, 66);
}

.react-calendar__tile--active {
  background: #d4f6ff !important;
  color: #0260a3 !important;
}
